:root{
    --fontBase: 'Poppins', sans-serif;
    --colorBase: #230886;
}

body{
    background: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    font-family: var(--fontBase);
    margin: 0;
    padding: 0;
}

.header{
    font-size: 20px;
    padding-left: 8vw;
    color: var(--colorBase);
    width: 20%;
    height: 10vh;
    text-align: center;
    height: fit-content;
    font-weight: 700;
}

#about-me{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#hola{
    padding: 0;
    margin: 0;
    font-size: 30px;
}

#nombre{
    font-size: 70px;
    padding: 0;
    margin: 0;
}

#intro{
    width: 80%;
    padding-top: 10vh;
    text-align: left;
    color: var(--colorBase);
    padding-left: 10vw;
}

#intro p{
    font-size: 20px;
}

#intro img{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: 3px;
}

nav{
    font-size: 13px;
    width: 30%;
    padding-top: 7rm;
    padding-left: 4vw;
    display: flex;
    justify-content: center;
    height: fit-content;
    font-weight: bold;
}

nav a{
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding-right: 70px;
    font-weight: bolder;
}

#links{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main{
    padding-top: 3vh;
    display: flex;
    flex-wrap: wrap;
}

#foto{
    right: 15px;
    width: 30vw;
    height: 30vh;
    align-items: center;
}

#foto img{
    padding-top: 5vh;
    width: 80%;
    height: auto;
}

@media screen and (max-width : 600px){
    #main{
        flex-direction: column;
    }
    nav{
        display: none;
    }
    #foto{
        width: 100vw;
    }
    #foto img{
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #intro{
        display: none;
    }
}
.participe{
    margin: 100px 5px 5px 300px;
    color: #230886;
}
#i1, #i2, #i3, #i4{
    background: #FFFFFF;
    border: 2px solid #310A90;
    box-sizing: border-box;
    border-radius: 4px;
}
button{
    background: #310A90;
    border: 2px solid #310A90;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px;
    color: #FFFFFF;
    margin-top: 10px;
    }
#arrow{
    margin-left: 400px;
}
#aqui{
    margin-left: 250px;
    font-weight: bolder;
}
.proyectos{
    padding-left: 15vw;
    padding-top: 7vw;
    display: flex;
    flex-direction: row;
}
#macdiv{
    margin-left: 10%;
}
#miproyecto{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    box-shadow: -4px 4px 0px #FFFFFF;
}
#accede{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #310A90;
}
#verproyecto{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
}
#vercodigo{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    background-color: transparent;
    color:#310A90;
}
.comentario1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    position: static;
    width: 1000px;
    height: 250px;
    left: 117px;
    top: 80px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    margin-left: 10vw;
    margin-top: 7vw;
}
#JC{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    text-align: center;
    color: #310A90;
}
#eri{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #310A90;
    opacity: 0.5;
}

.marvol{
    padding-left: 15vw;
    padding-top: 7vw;
    display: flex;
    flex-direction: row;
}
#ipad-png{
    margin-left: 0%;
}
#marvol-buton{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    box-shadow: -4px 4px 0px #FFFFFF;
}
#sitio{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #310A90;
}
#marvol-text{
    margin-top: 10rm;
    margin-left: 5rm
}
.comentario2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    position: static;
    width: 1000px;
    height: 250px;
    left: 117px;
    top: 80px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    margin-left: 10vw;
    margin-top: 7vw;
}
#JC2{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    text-align: center;
    color: #310A90;
}
.proyectos3{
    padding-left: 15vw;
    padding-top: 7vw;
    display: flex;
    flex-direction: row;
}
#cel-png{
    margin-left: 20%;
}
#miproyecto3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    box-shadow: -4px 4px 0px #FFFFFF;
}
#peliculas{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #310A90;
}
.comentario3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    position: static;
    width: 1000px;
    height: 250px;
    left: 117px;
    top: 80px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    margin-left: 10vw;
    margin-top: 7vw;
}
#hablemos-buton{
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    width: 543px;
    height: 64px;
    margin-left: 30%;
    margin-top: 5%;
    background: #310A90;
    box-shadow: -4px 4px 0px #FFFFFF;
    font-size: larger;
}
#interesado{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}